<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Web App Practice</title>
<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 20;
    height: 600px;
    width: 800px;
  }
</style>
<link rel="stylesheet" href="https://js.arcgis.com/4.10/esri/css/main.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script-->
<link rel="stylesheet" href="/static/jquery-ui.min.css">
<script src="/static/external/jquery.js"></script>
<script src="/static/jquery-ui.min.js"></script>
<script src="https://js.arcgis.com/4.10/"></script>
<script type="text/javascript" src="/static/MainApp.js"></script>
<link rel="stylesheet" href="/static/style.css">
<script>
  // function myfunction() {
  //   // $( "#SubmissionForm" ).dialog();
  //   $(".form-group").dialog();
  // }
  $( function() {
    $( "#SubmissionForm" ).dialog({
      autoOpen: false,
      show: {
        effect: "blind",
        duration: 500
      },
      hide: {
        effect: "explode",
        duration: 500
      }
    });

    $( "#upButton" ).on( "click", function() {
      $( "#SubmissionForm" ).dialog( "open" );
    });
  } );
</script>
</head>

<body>
  <h1>Python Javascript Practice</h1>
  <div id="viewDiv">
  <!--form action="pythonScripts/clipLayer.py" method="GET"-->
  <button id="dlButton" data-toggle="tooltip" title="Download Current Data" type="button" data-toggle="button"
  <span class="esri-icon-download" aria-label="dl icon"></span>
  </button>
  <!--/form-->
  </div>

  <button id="upButton" data-toggle="tooltip" title="Upload CAD File" type="button" data-toggle="button"
  <span class="esri-icon-upload" aria-label="up icon"></span>
</button> <!--onclick='myfunction()'-->

  <div id='SubmissionForm' title='File Input'> <!--style=display:none;-->
    <form method='POST' action='/upload' enctype='multipart/form-data'>
    <div class="form-group">
      <label for='inputFile'>Please upload your file and click 'Submit' when finished.<p></label>
      <input type='file' name='inputFile'>
    </div>
    <button type='submit' class='btn btn-default'>Submit</button>
    </form>
  </div>





</body>

</html>
